<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.wardrobe.mapper.WardrobeItemMapper">

    <resultMap type="WardrobeItem" id="WardrobeItemResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="category" column="category"/>
        <result property="color" column="color"/>
        <result property="season" column="season"/>
        <result property="price" column="price"/>
        <result property="isCommon" column="is_common"/>
        <result property="addTime" column="add_time"/>
        <result property="remark" column="remark"/>
        <result property="style" column="style"/>
        <result property="isFavorite" column="is_favorite"/>
        <result property="imgUrl" column="img_url"/>
    </resultMap>

    <sql id="selectWardrobeItemVo">
        select id, name, category, color, season, price, is_common, add_time, remark,
               style, is_favorite, img_url, create_by, create_time
        from wardrobe_item
    </sql>

    <select id="selectWardrobeItemList" parameterType="WardrobeItem" resultMap="WardrobeItemResult">
        <include refid="selectWardrobeItemVo"/>
        <where>
            <if test="name != null and name != ''"> AND name like concat('%', #{name}, '%')</if>
            <if test="category != null and category != ''"> AND category = #{category}</if>
            <if test="style != null and style != ''"> AND style = #{style}</if>
        </where>
        order by add_time desc
    </select>

    <update id="updateWardrobeItem" parameterType="WardrobeItem">
        update wardrobe_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="category != null">category = #{category},</if>
            <if test="style != null">style = #{style},</if>
            <if test="isFavorite != null">is_favorite = #{isFavorite},</if>
            <if test="imgUrl != null">img_url = #{imgUrl},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <insert id="insertWardrobeItem" parameterType="WardrobeItem" useGeneratedKeys="true" keyProperty="id">
        insert into wardrobe_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="category != null and category != ''">category,</if>
            <if test="color != null">color,</if>
            <if test="season != null">season,</if>
            <if test="price != null">price,</if>
            <if test="isCommon != null">is_common,</if>
            <if test="style != null">style,</if>
            <if test="isFavorite != null">is_favorite,</if>
            <if test="imgUrl != null">img_url,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="category != null and category != ''">#{category},</if>
            <if test="color != null">#{color},</if>
            <if test="season != null">#{season},</if>
            <if test="price != null">#{price},</if>
            <if test="isCommon != null">#{isCommon},</if>
            <if test="style != null">#{style},</if>
            <if test="isFavorite != null">#{isFavorite},</if>
            <if test="imgUrl != null">#{imgUrl},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <select id="selectWardrobeItemById" parameterType="Long" resultMap="WardrobeItemResult">
        <include refid="selectWardrobeItemVo"/>
        where id = #{id}
    </select>

    <delete id="deleteWardrobeItemById" parameterType="Long">
        delete from wardrobe_item where id = #{id}
    </delete>

    <delete id="deleteWardrobeItemByIds" parameterType="String">
        delete from wardrobe_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>